{% set intro = g.site_intro_text %}

<div class="module-content box">
  <div>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to GenderOpenData") }}</h1>
      <p>
        {% trans %}GenderOpenData is a volunteer-driven open data platform for feminist organisations to publish data, research, and resources.
        {% endtrans %}
      </p>
    {% endif %}
  </div>

  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      <h3>{{_("Featured")}}</h3>
      <h2 class="media-heading">{% block home_image_caption %}{{ _("The Global Media Monitoring Project (GMMP) Reports") }}{% endblock %}</h2>
      {% block home_image_content %}
        <a class="media-image" href="https://genderopendata.org/dataset/the-global-media-monitoring-project-gmmp-reports">
          <img class="img-responsive" src="/genderopendata/assets/img/reports/gmmp-1.jpg" alt="GMMP report" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>
