{% set intro = g.site_intro_text %}

<div class="module-content box">
  <div>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to GenderOpenData") }}</h1>
      <p>
        {% trans %}GenderOpenData is a volunteer-driven open data platform for feminist organisations to publish data, research, and resources.
        {% endtrans %}
      </p>
    {% endif %}
  </div>

  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      <h2 class="media-heading">{% block home_image_caption %}{{ _("Maasai women field research. Narok, Kenya | CWRA, 2019") }}{% endblock %}</h2>
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img class="img-responsive" src="/genderopendata/assets/img/promoted-home.jpg" alt="Placeholder" width="420" height="220" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>
