@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  background: #ffffff;
}

/* -------------------------------------------------- */
/* Common elements */
/* -------------------------------------------------- */
.main {
  background: #eee;
  min-height: 0;
}

.box {
  box-shadow: none;
}

/* Buttons */
.btn-primary {
  background-color: #C722AE;
  border-color: #8B1779;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus,
  .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary,
  .btn-primary:active:hover, .btn-primary:active:focus {
  background-color: #8B1779;
  border-color: #8B1779;
}

/* Links */
a {
  color: #8B1779;
}


/* -------------------------------------------------- */
/* Header */
/* -------------------------------------------------- */
.account-masthead {
  background-color: #D24EBE;
}
.account-masthead .account ul li {
  border-left: 1px solid #8B1779;
}
.account-masthead .account ul li a {
  color: #ffffff;
}
.account-masthead .account ul li a:hover {
  background-color: #8B1779;
}
.account-masthead .account .notifications a span.badge {
  background-color: #8B1779;
}

/* Navbar */
.masthead {
  background: #ffffff;
}
.masthead .nav > li > a {
  color: #333333;
}
.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a {
  color: #ffffff;
  background-color: #D24EBE;
}
.masthead .navbar-toggle .fa {
  color: #333333;
}

/* -------------------------------------------------- */
/* Main */
/* -------------------------------------------------- */
[role=main] {
  padding: 0 !important;
}
.main {
  padding: 20px 0;
}
.wrapper {
  box-shadow: none;
}

/* Hero */
.hero {
  background: #ffffff;
}
.homepage .hero {
  padding-bottom: 50px !important;
  padding-top: 20px !important;
}
.featured .media-image img {
  max-width: 100%;
}
.homepage .module-search {
  margin-top: 20px;
}
.homepage .module-search .module-content {
  background-color: #D24EBE;
}
.homepage .module-search .search-giant input {
  border-color: #8B1779;
}
.homepage .module-search .tags {
  background-color: #8B1779;
}
a.tag:hover {
  border-color: #8B1779;
  background-color: #D24EBE;
  box-shadow: #D24EBE;
}

.homepage .main {
  padding: 50px 0;
}

/* Organisation list */
.homepage .module-heading {
  background-color: #ffffff;
}

/* -------------------------------------------------- */
/* Footer */
/* -------------------------------------------------- */
.site-footer {
  padding: 50px 0;
  background: #424242;
}
.site-footer a {
  color: #ffffff;
}
.site-footer a:hover {
  color: #FF9CE3;
}
.site-footer .cwra-logo {
  width: 150px;
  margin-bottom: 15px;
  opacity: 0.9;
}



