{% ckan_extends %}

{% block head_extras %}

  {{ super() }}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2F90LQ3W43"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2F90LQ3W43');
  </script>

{% endblock %}

{#
  The links block allows you to add additonal content before the stylesheets
  such as rss feeds and favicons in the same way as the meta block.
#}
{% block links -%}
  {{ super() }}
  <link rel="apple-touch-icon" sizes="180x180" href="/genderopendata/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/genderopendata/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/genderopendata/favicons/favicon-16x16.png">
  <link rel="manifest" href="/genderopendata/favicons/site.webmanifest">
  <link rel="mask-icon" href="/genderopendata/favicons/safari-pinned-tab.svg" color="#c822b0">
  <link rel="shortcut icon" href="/genderopendata/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#9f00a7">
  <meta name="msapplication-config" content="/genderopendata/favicons/browserconfig.xml">
  <meta name="theme-color" content="#c822b0">
{% endblock -%}


{#
  The styles block allows you to add additonal stylesheets to the page in
  the same way as the meta block. Use super() to include the default
  stylesheets before or after your own.

  Example:

    {% block styles %}
      {{ super() }}
      <link rel="stylesheet" href="/base/css/custom.css" />
    {% endblock %}
#}
{% block custom_styles %}
  {{ super() }}
  <link href="/genderopendata/assets/css/main.css" rel="stylesheet"/>

  <!-- fontawesome -->
  <link href="/genderopendata/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/genderopendata/assets/fontawesome/css/brands.css" rel="stylesheet">
  <link href="/genderopendata/assets/fontawesome/css/solid.css" rel="stylesheet">

{% endblock %}
