{% ckan_extends %}

{% block footer_content %}
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-center align-items-center justify-content-sm-start footer-logos">
        <a href="https://cwra.africa/" target="_blank" class="d-flex">
          <img
            class="img-responsive cwra-logo"
            src="/genderopendata/assets/img/logo/cwra-footer-white.svg"
            alt="cwra logo white"
          />
        </a>
    </div>
    <div class="d-sm-none mb-2"></div>
    <div class="col-sm-6 d-flex justify-content-center align-items-center justify-content-sm-end">
      {% block footer_icons %}
        <ul class="list-unstyled list-inline" style="text-align: right;">
          {% block footer_icons_social %}
            <li class="list-inline-item"><a href="https://twitter.com/GenderOpenData" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-twitter fa-2xl"></i></a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/GenderOpenData" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-facebook fa-2xl"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/TeneryResearch/GenderOpenData" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-github fa-2xl"></i></a></li>
          {% endblock %}
        </ul>
      {% endblock %}
    </div>
  </div>
  <div></div>

  <hr style="opacity: 0.8;" class="my-4"/>

  <div class="row">
    <div class="col-sm-8">
      <p>
        {% trans %}The Gender Open Data is a project of the <a href="https://cwra.africa/" target="_blank">Center for Women Rights Advocacy (CWRA)</a> and <a href="https://tenery.cc/" target="_blank">Tenery Research</a> and made possible by volunteers, donors, and partners. We help make the hidden visible.{% endtrans %}
      </p>
      <p>
        <small>
          {% trans %}Content on this site, made by CWRA, is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer">Creative Commons Attribution 4.0 International License</a>. Source code is available under the <a href="https://choosealicense.com/licenses/mit/" target="_blank" rel="noopener noreferrer">MIT license</a>.{% endtrans %}
        </small>
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        <small>
          <a href="/about">About</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/pages/contact">Contact</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/pages/privacy">Privacy</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/pages/terms">Terms</a>
        </small>
      </p>
      {% block footer_lang %}
        {% snippet "snippets/language_selector.html" %}
      {% endblock %}
    </div>
  </div>

{% endblock %}
